<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Trip posts</h1>
  </div>
</div>
<!--国名ボタン-->
<div>
  <button type="button" class="btn btn-outline-secondary">ヨーロッパ</button>
  <button type="button" class="btn btn-outline-secondary">アジア</button></button>
  <button type="button" class="btn btn-outline-secondary">ハワイ・ミクロネシア</button>
  <button type="button" class="btn btn-outline-secondary">アメリカ大陸</button>
  <button type="button" class="btn btn-outline-secondary">中南米・カリブ</button>
</div>
<div>
  <button type="button" class="btn btn-outline-secondary">中近東</button>
  <button type="button" class="btn btn-outline-secondary">アフリカ</button>
  <button type="button" class="btn btn-outline-secondary">モルディブ・インド洋</button>
  <button type="button" class="btn btn-outline-secondary">南太平洋・オセアニア</button>
  <button type="button" class="btn btn-outline-secondary">ロシア・中央アジア</button>
</div>

<!--一覧-->

